<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MPosInfoManagementSystem.Properties.Settings.AccountingCycleDBConnectionString"
            connectionString="Data Source=HP\SQLSERVER;Initial Catalog=AccountingCycleDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MPosInfoManagementSystem.Properties.Settings.MPosDBConnectionString"
            connectionString="Data Source=HP\SQLSERVER;Initial Catalog=MPosDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>